// reset SCSS
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  a {
      text-decoration: none;
  }  

// Fonts
@font-face {
    font-family: 'ArchyEDT-Thin';
    src: url('../fonts/archyedt-thin-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/archyedt-thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/archyedt-thin-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/archyedt-thin-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/archyedt-thin-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/archyedt-thin-webfont.svg#archyedt-thinregular') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'ITC Zapf Dingbats';
    src: url('../fonts/ZapfDingbatsITCbyBT-Regular.eot');
    src: url('../fonts/ZapfDingbatsITCbyBT-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZapfDingbatsITCbyBT-Regular.woff2') format('woff2'),
        url('../fonts/ZapfDingbatsITCbyBT-Regular.woff') format('woff'),
        url('../fonts/ZapfDingbatsITCbyBT-Regular.ttf') format('truetype'),
        url('../fonts/ZapfDingbatsITCbyBT-Regular.svg#ZapfDingbatsITCbyBT-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// style SCSS

// Variables
$color1: rgb(241, 241, 241);
$color2: #2E2E2E;
$color3: rgba(238, 236, 236, 0.774);
$color4: #88888838;
$color5: #FFFFFF;
$color6:  #707070;

$display1: flex;
$display2: inline-block;
$display3: none;
$display4: block;

// Sizes
$padding01: 15px 0;
$padding02: 20px 0;

$box-size: 300px;

// Font sizes
$title-size: 25px;
$title-size2: 16px;
$title-size3: 13px;
$responsive-menu-size: 20px;

// Private Classes
%container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 10px;
}
%flex {
    display: $display1;
    align-items: center;
    justify-content: space-between;
}
%flex-column {
    display: flex;
    flex-flow: column;
}
%inline-block {
    display: $display2;
}
%text {
    font-family: "ArchyEDT-Thin", sans-serif;
    color: $color6;
}
%text2 {
    font-family: 'ITC Zapf Dingbats';
    color: $color6;
}
%responsive-menu-text-color {
    font-family: "ArchyEDT-Thin";
    color: $color5;
}
%fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

// Mixins
@mixin color-size ($color, $size) {
    color: $color;
    font-size: $size;
}


header {
    @extend %flex;
    @extend %fixed;
    z-index: 99;
    background-color: $color1;
    padding: 10px 0;
    .header-nav {
        @extend %container;
        @extend %flex;
        @media (max-width: 420px) {
            max-width: 380px;
            width: 100%;
            margin: 0 auto;
            padding: 5px 3px;
        }
        .logo {
            width: 60px;
            height: 60px;
            @media (max-width: 420px) {
                max-width: 48px;
                max-height: 36px;
            }
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .menu-search {
            @extend %flex;
            display: $display1;
            .menu {
                @media (max-width: 420px) {
                    display: $display3;
                }
                margin: 0 30px 0 0;
                li {
                    a {
                        @extend %text;
                        font-size: $title-size;
                    }
                    display: $display2;
                    margin: 0 13px;
                }
            }
            .burger {
                display: $display3;
                width: 60px;
                height: 60px;
                padding: 0 0;
                @media (max-width: 420px) {
                    display: $display4;
                    width: 40px;
                    height: 40px;
                }
                img {
                    width: 100%;
                    height: 100%;
                };
            }
            .responsive-menu {
                display: $display3;
                @media (max-width: 420px) {
                    display: $display4;
                }
                width: 100%;;
                position: fixed;
                top: 67px;
                left: 0;
                background-color: #2e2e2ecc;
                li {
                    display: $display1;
                    padding: 20px 0;
                    a {
                        @extend %responsive-menu-text-color;
                        font-size: $responsive-menu-size;
                    }
                }
            }
            .search-div{
                @extend %flex;
                padding: 0 5px;
                .search-input {
                    display: $display3;
                    border-radius: 20% 20%;
                    border-color: $color1;
                    max-width: 140px;
                }
                .search-icon {
                    padding: 0 0;
                    background-color: transparent;
                    border: 0px solid transparent;
                    width: 26px;
                    height: 26px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        
    }
}

.container {
    @extend %container;
    margin-top: 100px;
    @media (max-width: 420px) {
        max-width: 380px;
        width: 100%;
        margin: 0 auto;
        padding: 5px 3px;
        display: flex;
        flex-flow: column;
    }
    .slider {
        width: 100%;
        position: relative;
        z-index: 1;
        img {
            max-height: 500px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .slide-button-left {
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 5px;
            transform: translate(0, -50%);
            border: 0px solid transparent;
            width: 30px;
            height: 30px;
            border-radius: 15px 15px;
        }
        .slide-button-right {
            position: absolute;
            z-index: 5;
            top: 50%;
            right: 5px;
            transform: translate(0, -50%);
            border: 0px solid transparent;
            width: 30px;
            height: 30px;
            border-radius: 15px 15px;
        }
    }
    .popular {
        @extend %flex-column;
        margin-top: 60px;
        .div-title {
            @extend %text;
            font-size: $title-size;
            padding: $padding01;
            @media (max-width: 420px) {
                margin: 0 auto;
            }
        }
        .articles {
            @extend %flex;
            @media (max-width: 420px) {
                width: 100%;
                display: flex;
                flex-flow: column;
            }
            article {
                @extend %flex-column;
                border: 1px solid $color3;
                box-shadow: 2px 5px $color4;
                img {
                    max-height: 150px;
                    max-width: $box-size;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                h3 {
                    @extend %text;
                    font-size: $title-size2;
                    padding: $padding01;
                }
                p {
                    @extend %text2;
                    font-size: $title-size3;
                    max-width: $box-size;
                }
                a {
                    @extend %text;
                    @include color-size($color6, $title-size2);
                    align-self: flex-end;
                    padding: $padding02;
                }
            }
        }
        .load-more {
            @extend %text;
            padding: $padding02;
            align-self: center;
        }

    }
    .recent {
        @extend %flex-column;
        margin-top: 40px;
        .div-title {
            @extend %text;
            font-size: $title-size;
            padding: $padding01;
            @media (max-width: 420px) {
                margin: 0 auto;
            }
        }
        .articles {
            @extend %flex;
            @media (max-width: 420px) {
                width: 100%;
                display: flex;
                flex-flow: column;
            }
            article {
                @extend %flex-column;
                border: 1px solid $color3;
                box-shadow: 2px 5px $color4;
                img {
                    max-height: 150px;
                    max-width: $box-size;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                h3 {
                    @extend %text;
                    font-size: $title-size2;
                    padding: $padding01;
                }
                p {
                    @extend %text2;
                    font-size: $title-size3;
                    max-width: $box-size;
                }
                a {
                    @extend %text;
                    @include color-size($color6, $title-size2);
                    align-self: flex-end;
                    padding: $padding02;
                }
            }
        }
    }

}
footer {
    @extend %flex;
    background-color: $color2;
    margin-top: 50px;
    .footer-nav {
        @extend %container;
        @extend %flex;
        @media (max-width: 420px) {
            max-width: 380px;
            width: 100%;
            margin: 0 auto;
            padding: 5px 3px;
        }
        .footer-logo {
            width: 60px;
            height: 60px;
            @media (max-width: 420px) {
                max-width: 48px;
                max-height: 36px;
            }
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .contact {
            display: contents;
            @extend %text;
            @include color-size ($color5, 16px);
            @media (max-width: 420px) {
                font-size: 8px;
            }
            h4 {
                padding: $padding01;
            }
            .virtual-contact {
                align-self: flex-start;
                a {
                    display: block;
                    color: $color5;
                }
            }
            .physical-contact {
                align-self: flex-start;
            }
        }
        .social-icons {
            @extend %flex;
            li {
                padding-left: 10px;
                a {
                    img {
                        max-width: 33px;
                        max-height: 33px;
                        width: 100%;
                        object-fit: contain;
                        opacity: 60%;
                    }
                }
                
            }
            
        }
    }
}
